@import url("https://fonts.googleapis.com/css2?family=Public+Sans&display=swap");

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6.5rem 0;
  padding-bottom: 0;
  font-family: "Poppins", sans-serif;
}

.content-container {
  width: 90%;
  margin: auto;
  margin-top: 2rem;
}

.content-container h1 {
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: #164e63;
  line-height: 49px;
  font-size: 36px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 58%;
  left: 50%;
  position: relative;
  transform: translate(-50%, 0);
}

.register-link{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  opacity: 0.9;
}

.register-link button{
  /* background: #164e63; */
  border: none;
  color: #164e63;
  padding: 2px 6px;
  cursor: pointer;
  font-size: 1rem;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

.content-container p {
  font-family: "Public Sans", sans-serif;
  color: #155e75;
  font-size: 1.3rem;
  line-height: 2rem;
  margin: 1.5rem auto;
  width: 60%;
}

.content-container p span{
  color: #0891b2;
  text-decoration: underline dotted 2px red;
}

.timeline-container{
  margin: 1.5rem 0;
}

.timeline-1,
.timeline-2,
.timeline-3 {
  display: flex;
  justify-content: center;
  font-family: "Public Sans", sans-serif;
  color: #0891b2;
  width: 100%;
  align-items: center;
}

.timeline-1 > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56%;
  min-width: 815px;
}

.timeline-1 > div > div {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
}

.timeline-1 > div > div > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow-y: hidden;
}

.timeline-1 > div > div > div > div {
  position: relative !important;
  min-width: 800px;
}

/* dates */

.timeline-1 ul li:nth-child(odd) > div > div:nth-child(2) {
  position: absolute !important;
  top: 80% !important;
  bottom: 0 !important;
}

.timeline-1 ul li > div > div:nth-child(2) > div,
.timeline-2 ul li > div > div:nth-child(2) > div,
.timeline-3 ul li > div > div:nth-child(2) > div {
  padding: 0 !important;
  text-align: center;
  font-weight: 500 !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}

.timeline-1 :global(#timeline-main-wrapper) > :global(.horizontal) > div {
  width: 85% !important;
}

.timeline-2 :global(#timeline-main-wrapper) > :global(.horizontal) > div {
  width: 70% !important;
}

.timeline-3 :global(#timeline-main-wrapper) > :global(.horizontal) > div {
  width: 50% !important;
}

.timeline-2 ul li:nth-child(odd) > div > div:nth-child(2) {
  position: absolute !important;
  top: 80% !important;
  bottom: 0 !important;
}

.timeline-1 p,
.timeline-2 p,
.timeline-3 p {
  color: #164e63;
  font-family: "Public Sans", sans-serif;
  width: 70px;
  height: 40px;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chrono-icons img {
  box-shadow: 4px 4px 10px 0px #0000004d;
}

.container :global(#timeline-main-wrapper) > div > div > div:nth-child(1) {
  width: 50%;
  min-width: 48%;
}

@media screen and (max-width: 1100px) {
  .register-link button > span:nth-child(1){
    display: none;
  }
}


@media screen and (max-width: 950px) {
  .container :global(.card-content-wrapper) {
    visibility: hidden !important;
    min-width: 48%;
  }
  .timeline-1 {
    flex-direction: column;
  }
  .timeline-1 > div {
    min-width: 0px;
  }
  .timeline-1 > div > div > div > div {
    min-width: 0px;
    min-width: 300px;
  }
  .content-container{
    width: 98%;
  }
  .content-container p{
    width: 80%;
  }
  .content-container h1{
    width: 85%;
  }
}

@media only screen and (max-width: 580px) {
  .content-container h1 {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2rem;
    width: 90%;
    position: relative;
    justify-content: space-between;
  }
  .register-link{
    width: 20px;
    height: 20px;
    overflow: hidden;
    opacity: 1;
  }
  .register-link span{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
  }
  .register-link button{
    padding: 1px 2px;
  }
  .content-container p {
    font-size: 1rem;
    margin: 20px auto;
    width: 90%;
  }
  .timeline-2,
  .timeline-3 {
    flex-direction: column;
  }
  .timeline-1 .para1,
  .timeline-1 .para2,
  .timeline-2 .para1,
  .timeline-2 .para2,
  .timeline-3 .para1,
  .timeline-3 .para2 {
    width: fit-content;
    height: fit-content;
    font-size: 12px;
    padding: 0;
    font-weight: bold;
    margin: auto;
    margin-top: 10px;
  }
}
