@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;600&family=Public+Sans:wght@200;300;600&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body{
  background: #F5FDFE;
  overflow-x: hidden;
}

a{
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}