@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&family=Public+Sans:wght@200;300;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  background: #f5fdfe;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

/* Timeline override css */
#react-chrono-timeline {
  display: none;
}

.timeline-item-title {
  padding-bottom: 10px;
}

.active {
  background: none !important;
}

.timeline-card-content {
  justify-content: center !important;
  min-width: 320px;
}

.timeline-circle {
  cursor: default !important;
  box-shadow: 3px 3px 6px 0px #0000004d;
}

#timeline-main-wrapper > .horizontal > div{
  box-shadow: 3px 3px 6px 0px #0000004d;
}

@media screen and (min-width: 950px) {
  .timeline-item-title{
    min-width: 160px;
  }
}

@media only screen and (max-width: 950px) {
  .timeline-item-title.active, .timeline-item-title{
    padding: 0 12px !important;
  }
}
